<div class="row">
   <div id="login" class="from col s6 offset-s3">
      <h4>Set new password</h4>

      <form action="/auth/password" method="POST">
         <div class="input-field">
            <input id="password" name="password" type="password" class="validate" required>
            <label for="password">New password</label>
            <span class="helper-text" data-error="Invalid password!" data-success="The new password is correct!"></span>
         </div>

         <input type="hidden" name="_csrf" value="{{csrf}}">
         <input type="hidden" name="userId" value="{{userId}}">
         <input type="hidden" name="token" value="{{token}}">

         {{#if error}}
            <p class="alert">{{error}}</p>
         {{/if}}

         <button class="btn btn-primary" type="submit">Restore password</button>
      </form>
   </div>
</div>