<h1 class="not-found-title">ERROR 404 — NOT FOUND</h1>
<p class="not-found-subtitle">Page not found</p>

<button class="btn btn-primary not-found-btn"><a href="/" class="not-found-link">Go to Home page</a></button>