.nav-wrapper {
   padding: 0 2rem;
}
.card {
   height: 450px;
}
.card-image {
   max-height: 250px;
   height: 100%;
}

.card-content .title {
   font-size: 1.8rem;
   font-weight: 700;
}

.card-content .price {
   font-size: 2rem;
}