.nav-wrapper {
   padding: 0 2rem;
}
.card {
   height: 450px;
}
.card-image {
   height: 250px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.card-image img {
   width: 250px !important;
}

.card-content .title {
   font-size: 1.8rem;
   font-weight: 700;
}

.card-content .price {
   font-size: 2rem;
}

.course {
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.course h1 {
   margin-bottom: 2rem;
}

.course img {
   max-width: 600px;
   height: auto;
}

.course .price.big {
   font-size: 2.5rem;
}

.card-triggers-wrapper {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.navbar-item {
   display: flex;
}

#remove-course {
   margin-top: 1rem;
}

.cart-total-price {
   font-size: 1.2rem;
   font-weight: 600;
}

.order-card {
   height: auto;
}